@import url(./_active/search__checkbox_active.css);
@import url(./_inactive/search__checkbox_inactive.css);

.search__checkbox {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  transition: all 0.5s ease-out 0.3s;
}

.search__checkbox:before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  transition: all 0.5s ease-out;
}
