@import url(./__block/aboutproject__block.css);
@import url(./__text/aboutproject__text.css);
@import url(./__table/aboutproject__table.css);
@import url(./__table/_blue/aboutproject__table_blue.css);
@import url(./__table/_grey/aboutproject__table_grey.css);

.aboutproject {
  padding-top: min(110px, 11.72vw);
  padding-bottom: min(110px, 11.72vw);
}

@media only screen and (max-width: 768px) {
  .aboutproject {
    padding-top: min(90px, 21.875vw);
    padding-bottom: min(90px, 21.875vw);
  }
}
