.movie__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 16px 13px;
}

@media only screen and (max-width: 768px) {
  .movie__info {
    flex-direction: row;
    align-items: center;
    padding: 14px;
  }
}
