.section {
  margin: 0;
  width: 100%;
  padding: 0 calc((100vw - 1140px) / 2);
  box-sizing: border-box;
  overflow: hidden;
}

@media only screen and (max-width: 1280px) {
  .section {
    padding: 0 min(70px, 3.9vw);
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 0 min(30px, 4.375vw);
  }
}
