.popup__container {
  height: 100vh;
  width: min(520px, 100vw);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
