.button__submit_reg {
  margin-top: 128px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  .button__submit_reg {
    margin-top: max(128px, max(calc(216px - (100vw / 3.63)), 128px)),
  }
}
