.paragraph__promo {
  text-align: left;
  width: clamp(260px, 28vw, 300px);
  opacity: 50%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .paragraph__promo {
    text-align: center;
  }
}
