.promo__info {
  display: flex;
  justify-content: space-between;
  padding: min(100px, 12vw) 0;
}

@media only screen and (max-width: 768px) {
  .promo__info {
    flex-direction: column-reverse;
    align-items: center;
    gap: min(48px, 5vw);
  }
}
