.header {
  height: min(74px, 17vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bg_grey {
  background-color: #dddee3;
}

.header__bg_white {
  background-color: #ffffff;
}
