.title__promo {
  font-size: min(50px, 5vw);
  width: min(640px, 50vw);
  margin: 0 0 36px;
}

@media only screen and (max-width: 768px) {
  .title__promo {
    font-size: 40px;
    width: 88%;
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 430px) {
  .title__promo {
    width: 100%;
    font-size: 30px;
  }
}
