@import url(./__info/promo__info.css);
@import url(./__text/promo__text.css);
@import url(./__img/promo__img.css);

.promo {
  margin: 0;
  padding-bottom: 75px;
  min-height: calc(100vh - 74px);
  background-color: #dddee3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
