@import url(./vendors/normalize.css);
@import url(./vendors/fonts/fonts.css);
@import url(./blocks/bg-color/bg-color.css);
@import url(./blocks/text-color/text-color.css);
@import url(./blocks/text-weight/text-weight.css);

.root {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
