.portfoliolink__image {
  width: min(29px, 3.51vw);
  opacity: 1;
  transition: 0.5s;
}

.portfoliolink__image:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .portfoliolink__image {
    width: min(27px, 5.625vw);
  }
}
