.title__aboutme {
  width: 100%;
  font-size: min(50px, 5vw);
  margin: 0;
  margin-bottom: 18px;
}

@media only screen and (max-width: 768px) {
  .title__aboutme {
    font-size: min(40px, 9.375vw);
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .title__aboutme {
    margin-bottom: 20px;
  }
}