.aboutme__image {
  width: min(270px, 33.2vw);
  height: 327px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: scale(0.1);
  transition: 0.8s ease;
}

@media only screen and (max-width: 767px) {
  .aboutme__image {
    width: 292px;
    height: 352px;
    margin-bottom: 12.5vw;
  }
}

.aboutme__image._active {
  opacity: 1;
  transform: scale(1);
}
